html,
body {
	margin: 0;
	padding: 0;
	height:100%;
}

body {
font-family: 'Gotham', Arial, Helvetica, san-serif;
}

.contactusheight {
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.backgroundabout {
	position:absolute;
	top:0px;
	left:0px;
	min-height:100%;
	width:100%;
	z-index:-1;
}
.footerwrapper {
	min-height:100%;
	height:100%;
	width:100%;
	margin-bottom:-266px;
	position:relative;
	display:table;
}

.footer {
	width:100%;
	height:0px;
	bottom:0;
	left:0;
	right:0;
	padding-top:0px;
	background-color:#ee5;
	z-index:1;
}
.footer .list-group-item {
	background-color:#fff !important;
	border: 0px solid #ddd !important;
}

.footer .list-group-item:hover {
    color:black;
}

.list-group-item {
	padding: 5px 15px;
}
.nav-pills>li>a {
	border-radius: 0px;
}

.jumbotron {
	margin-top:50px;
    background-color: rgba(255,255,255, 0.2);
    color: inherit;
}
.topcolor {
    color:white;
    background-image: url('/img/background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
	margin-top:0px;
    width:100%;
    height:100%;
    background-size:cover;
	border-radius: 0px !important;
	position:fixed;
}
.intlpic {
    color:white;
    background-image: url('/img/londonstreet.png');
	margin-top:0px;
    width:100%;
    background-size:cover;
	border-radius: 0px !important;
}
.intlpic2 {
    color:white;
    background-image: url('/img/sailboat.jpeg');
	margin-top:0px;
    width:100%;
    background-size:cover;
	border-radius: 0px !important;
}
.bppic {
    color:white;
    background-image: url('/img/personreading.png');
	margin-top:0px;
    width:100%;
    background-size:cover;
	border-radius: 0px !important;
}
.bppic2 {
    color:white;
    background-image: url('/img/phones.png');
	margin-top:0px;
    width:100%;
    background-size:cover;
	border-radius: 0px !important;
}
.teampic {
    color:white;
    background-image: url('/img/macbook.jpg');
	margin-top:0px;
    width:100%;
    background-size:cover;
	border-radius: 0px !important;
}
.bridge {
    color:white;
    background-image: url('/img/bridge.jpeg');
	margin-top:0px;
    width:100%;
    background-size:cover;
	border-radius: 0px !important;
}

.jumbonotop {
	margin-top:0px;
}
.jumbobordertop {
	position:relative;
	overflow:hidden;
}
.jumboborderbottom {
	position:relative;
	overflow:hidden;
}
.jumbobordertop:before {
	content: ""; 
	  position:absolute; 
	  z-index: 1; 
	  width:60%;  
	  top: -15px; 
	  height: 10px;
	  left: 20%; 
	  border-radius: 100px / 5px; 
	  box-shadow:0 0 30px rgba(0,0,0,0.6);
}
.jumboborderbottom:after {
	content: ""; 
	  position:absolute; 
	  z-index: 1; 
	  width:60%;  
	  top: -15px; 
	  height: 10px; 
	  left: 20%; 
	  border-radius: 100px / 5px; 
	  box-shadow:0 0 18px rgba(0,0,0,0.6);
}
.navbar-default {
    border-color:black;
    position: fixed;
    width: 100%;
    background-color: grey;
	border-radius: 0px;
	margin-bottom:0px;
	height: 30px;
	z-index: 1;
}
.navbar-default .navbar-nav>li>a {
    font-size:12px;
	color: white;
}

.frontpagebutton {
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:30px;
	border-color:white;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}

.textwithinhomebutton {
	width:100%;
	text-align:center;
	margin-top:10px;
	color:white;
}

.panel-body {
	padding-bottom:30px;
	padding-top:20px;
}
.whitebgforproduct {
	background-color:#fff;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
	display:table;
}
.greybackgroundforeditcompany {
	background-color:#EEEEEE;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
	display:table;
}
.greybackgroundforhomeloggedin {
	background-color:#EEEEEE;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
}
@media (max-height:950px) {
	.greybackgroundforhomeloggedin {
		background-color:#EEEEEE;
		width:100%;
		height:950px;
		min-height:950px;
		z-index:-2;
	}
}
.greybackgroundforprofileedit {
	background-color:#EEEEEE ;
	width:100%;
	z-index:-2;
	display:table;
}
.greybackgroundforprofileview .panel-info {
	background-color: white !important;
}
.greybackgroundforprofileview .panel-default {
	background-color: white !important;
}
.greybackgroundforprofileview .panel {
	background-color: #EEEEEE;
}
.greybackgroundforprofileview {
	background-color:#EEEEEE ;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
	display:table;
}
.greybackgroundforresetpw {
	background-color:#D6D6D6;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
}
@media (max-height:600px) {
	.greybackgroundforresetpw {
		background-color:#D6D6D6;
		width:100%;
		height:600px;
		min-height:600px;
		z-index:-2;
	}
}
.greybackgroundforforgot {
	background-color:#D6D6D6;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
}
@media (max-height:520px) {
	.greybackgroundforforgot {
		background-color:#D6D6D6;
		width:100%;
		height:520px;
		min-height:520px;
		z-index:-2;
	}
}
.greybackgroundformessage {
	background-color:#D6D6D6;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
}
.greybackgroundformessage {
	background-color:#D6D6D6;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
}
@media (max-height:500px) {
.greybackgroundformessage {
	background-color:#D6D6D6;
	width:100%;
	height:500px;
	min-height:500px;
	z-index:-2;
}
}
.greybackgroundforlogin {
	background-color:#D6D6D6;
	width:100%;
	height:100%;
	min-height:100%;
	z-index:-2;
}
@media (max-height:800px) {
.greybackgroundforlogin {
	background-color:#D6D6D6;
	width:100%;
	height:800px;
	min-height:800px;
	z-index:-2;
}
}
.greybackgroundforsignup {
	background-color:#EEEEEE;
	width:100%;
	min-height:100%
	margin-bottom:-266px;
	z-index:-2;
	display:table;
}

.progress {
    margin-bottom:10px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot');
  src: url('/fonts/fontawesome-webfont.svg');
  src: url('/fonts/fontawesome-webfont.ttf');
  src: url('/fonts/fontawesome-webfont.woff');
  src: url('/fonts/FontAwesome.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamNarrow-Book.otf');
  font-weight: normal;
  font-style: normal;
}

.wbackground{
	background-color:#fff;
	position:relative;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}
.greybackground{
	background-color:#EEEEEE;
	position:relative;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}



.whitemiddlebox {
	background-color:white;
	border:1px solid lightgrey;
	padding-top:20px;
	margin-top:50px;
	padding-bottom:50px;
}
@media (min-width: 768px) {
	.whitemiddlebox {
		background-color:white;
		border:1px solid lightgrey;
		padding-top:20px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		margin-top:70px;
		padding-bottom:150px;
	}
}
.thumbnailnoborder {
	border: 0 none;
	box-shadow: none;
}
.thumbnailempty {
	background: #EEEEEE;
}

.navlogo {
	margin-top:-10px;
	margin-left:10px;
}

.roundcorners {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.dl-horizontal dt 
{
    white-space: normal;
	margin-right:20px;
	width:230px;
}

/*
 * Sidebar
 */

/* Hide at 990px */
/*.sidebar {
  display: none;
}*/
/*@media (min-width: 990px) {*/
	
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
	top:0px;
    z-index: 0;
    display: block;
    padding: 40px;
    padding-bottom:331px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid #1e8bf0;
	padding-top:72px;
	font-size:85%;
    height: auto;
    max-height: 100%;
  }

  /*
   * Terms and Conditions and Privacy Sidebar
   */

  @media (min-width: 979px) {
    .sidebar1.affix-top {
      position: static;
    	margin-top:50px;
    }
  
    .sidebar1.affix {
      position: fixed;
      top:25px;	 
	  width:143px;
	   
    }
  }
  
  
  .sidebar1 li {
	  padding-bottom:10px;
  }
  
  .sidebar1 a:hover {
	  text-decoration: none;
	  color: #808;
  }

@media (max-width: 991px) {
	.affix,.affix-top {
		margin-top:10px;
 	margin-left:15px;
}
	
} 

  .affix,.affix-top {
     position:static;
	 
  }
  /*
   * embedded youtube video
   * --------------------------------------------------
   */
  .embed-responsive {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
  }
 
  .embed-responsive iframe,
  .embed-responsive object,
  .embed-responsive embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 990px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0px;
    width: 50%; /* 6 columns */
  }
}

/*navbar collapse at 990px*/
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -40px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -40px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
     float:right;
}
.nav-sidebar > li {
    float:right;
}

.sidebar-brand {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 5px;	
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #1e8bf0;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.jumbotron#blueBg{background-color:#204f7b;}

.btcpaymentbutton {

background-position:75%;
background-image: url(/img/btc-loader.gif);
background-repeat: no-repeat;
}

.centeralign td {
    text-align: center;
}

.centeralign th {
    text-align: center;
}

.text-warning {
  color: black;
}

.panel-warning {
  border-color: #ddd;
}
.panel-warning > .panel-heading {
  color: black;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddd;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
}


.alert-warning {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #000000;
}
.alert-warning hr {
  border-top-color: #ddd;
}
.alert-warning .alert-link {
  color: #5C595A;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #f5f5f5;
  border-color: #5C595A;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #f5f5f5;
  border-color: #5C595A;
}

.table-hover tbody tr.warning:hover td, .table-hover tbody tr.warning:hover th {
  background-color: #f5f5f5;
}



.label-warning {
  background-color: #f5f5f5;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #f5f5f5;
}

.btn-unwarning {
  color: #ffffff;
  background-color: #5C595A;
  border-color: #5C595A;
     -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
.btn-unwarning:hover,
.btn-unwarning:focus,
.btn-unwarning:active,
.btn-unwarning.active,
.open .dropdown-toggle.btn-unwarning {
  color: #000000;
  background-color: #f5f5f5;
  border-color: #5C595A;
}
.btn-primary:hover,
.btn-info:hover,
.btn-primary:focus,
.btn-info:focus,
.btn-primary:active,
.btn-info:active,
.btn-primary.active,
.btn-info.active,
.open .dropdown-toggle.btn-primary
.open .dropdown-toggle.btn-info {
  color: #000000;
}
.btn-unwarning:active,
.btn-unwarning.active,
.open .dropdown-toggle.btn-unwarning {
  background-image: none;
}
.btn-unwarning.disabled,
.btn-unwarning[disabled],
fieldset[disabled] .btn-unwarning,
.btn-unwarning.disabled:hover,
.btn-unwarning[disabled]:hover,
fieldset[disabled] .btn-unwarning:hover,
.btn-unwarning.disabled:focus,
.btn-unwarning[disabled]:focus,
fieldset[disabled] .btn-unwarning:focus,
.btn-unwarning.disabled:active,
.btn-unwarning[disabled]:active,
fieldset[disabled] .btn-unwarning:active,
.btn-unwarning.disabled.active,
.btn-unwarning[disabled].active,
fieldset[disabled] .btn-unwarning.active {
  background-color: #f5f5f5;
  border-color: #5C595A;
}


.btn-warning {
  color: #ffffff;
  background-color: #F8DAAF;
  border-color: #5C595A;
    -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #000000;
  background-color: #f0ad4e;
  border-color: #5C595A;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #F8DAAF;
  border-color: #5C595A;
}



#bs-example-navbar-collapse-1 a:hover {
    color:black;
}

@media (min-width: 991px) {
.panelbottomroom {
    margin-bottom:80px;
    margin-top:80px;
    box-shadow:0 0 18px rgba(0,0,0,0.6);
}
}

@media (max-width: 991px) {
.panelbottomroom {
margin-bottom:0px;
padding-bottom:20px;
}
}



.panel-primary {
  border-color: #204f7b;
}
.panel-primary > .panel-heading {
  color: black;
  background-color: #f5f5f5;
  border-color: #204f7b;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #204f7b;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #204f7b;
}


.alert-primary {
  background-color: #204f7b;
  border-color: #204f7b;
  color: #000000;
}
.alert-primary hr {
  border-top-color: #204f7b;
}
.alert-primary .alert-link {
  color: #204f7b;
}

.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
  background-color: #204f7b;
  border-color: #204f7b;
}

.table-hover > tbody > tr > td.primary:hover,
.table-hover > tbody > tr > th.primary:hover,
.table-hover > tbody > tr.primary:hover > td {
  background-color: #204f7b;
  border-color: #204f7b;
}

.table-hover tbody tr.primary:hover td, .table-hover tbody tr.primary:hover th {
  background-color: #204f7b;
}



.label-primary {
  background-color: #204f7b;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #204f7b;
}

.btn-primary {
  color: #ffffff;
  background-color: #204f7b;
  border-color: #204f7b;
    -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #000000;
  background-color: #90A7BD;
  border-color: #204f7b;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #204f7b;
  border-color: #204f7b;
}




.panel-info {
  border-color: #ddd;
}
.panel-info > .panel-heading {
  color: black;
  background-color: #D2E8FC;
  border-color: #ddd;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddd;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
}


.alert-info {
  background-color: #D2E8FC;
  border-color: #ddd;
  color: #000000;
}
.alert-info hr {
  border-top-color: #1e8bf0;
}
.alert-info .alert-link {
  color: #1e8bf0;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #D2E8FC;
  border-color: #1e8bf0;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td {
  background-color: #1e8bf0;
  border-color: #1e8bf0;
}

.table-hover tbody tr.info:hover td, .table-hover tbody tr.info:hover th {
  background-color: #1e8bf0;
}



.label-info {
  background-color: #1e8bf0;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #1e8bf0;
}



.btn-info {
  color: #ffffff;
  background-color: #1e8bf0;
  border-color: #1e8bf0;
    -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #000000;
  background-color: #D2E8FC;
  border-color: #1e8bf0;
}

.btn-danger {
    background-color: #ECABA9;
    color:#000;
    -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}

.btn-danger-authy {
    background-color: #d43f3a;
    color:#000;
    -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}

.btn-danger-authy:hover,
.btn-danger-authy:focus,
.btn-danger-authy:active,
.btn-danger-authy.active,
.open .dropdown-toggle.btn-danger-authy {
  color: #fff;
  background-color: #ECABA9;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d43f3a;
  border-color: #ECABA9;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #1e8bf0;
  border-color: #1e8bf0;
}

.btn-reverseinfo {
  color: #000;
  background-color: #fff;
  border-color: #1e8bf0;
}
.btn-reverseinfo:hover,
.btn-reverseinfo:focus,
.btn-reverseinfo:active,
.btn-reverseinfo.active,
.open .dropdown-toggle.btn-reverseinfo {
  color: #000000;
  background-color: #1e8bf0;
  border-color: #1e8bf0;
}

.btn-reverseinfo:active,
.btn-reverseinfo.active,
.open .dropdown-toggle.btn-reverseinfo {
  background-image: none;
}
.btn-reverseinfo.disabled,
.btn-reverseinfo[disabled],
fieldset[disabled] .btn-reverseinfo,
.btn-reverseinfo.disabled:hover,
.btn-reverseinfo[disabled]:hover,
fieldset[disabled] .btn-reverseinfo:hover,
.btn-reverseinfo.disabled:focus,
.btn-reverseinfo[disabled]:focus,
fieldset[disabled] .btn-reverseinfo:focus,
.btn-reverseinfo.disabled:active,
.btn-reverseinfo[disabled]:active,
fieldset[disabled] .btn-reverseinfo:active,
.btn-reverseinfo.disabled.active,
.btn-reverseinfo[disabled].active,
fieldset[disabled] .btn-reverseinfo.active {
  background-color: #1e8bf0;
  border-color: #1e8bf0;
}


.panel-success {
  border-color: #dff0d8;
}
.panel-success > .panel-heading {
  color: black;
  background-color: #dff0d8;
  border-color: #1e8bf0;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #4cae4c;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #4cae4c;
}


.alert-success {
  background-color: #dff0d8;
  border-color: #4cae4c;
  color: #000000;
}
.alert-success hr {
  border-top-color: #4cae4c;
}
.alert-success .alert-link {
  color: #4cae4c;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #fff;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #dff0d8;
  border-color: #4cae4c;
}

.table-hover tbody tr.success:hover td, .table-hover tbody tr.success:hover th {
  background-color: #dff0d8;
}



.label-success {
  background-color: #dff0d8;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #dff0d8;
}

.btn-success {
  color: #000;
  background-color: #dff0d8;
  border-color: #4cae4c;
    -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #000000;
  background-color: #4cae4c;
  border-color: #4cae4c;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #dff0d8;
  border-color: #4cae4c;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  border-color: #fff;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  border-color: #a94442;
}

.loginhomebtn:hover,
.loginhomebtn:focus,
.loginhomebtn:active,
.loginhomebtn.active {
background-color: #fff !important;
}

.btn-default {
         -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}

.knox-link {
    display:none
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.sheen span {
    background: url('/img/gradient-white.png') repeat-x;
     position: absolute;
}

.nav>li>a {
    padding: 0px 15px;
}

.navbar-default .navbar-nav>li>a {
    margin-top:0px
}

.eatbutton {
	margin-right: 13px;
}

.results {
	color: white;
	background-color: rgba(0,0,0,0.6);
}

.img-zoom {
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.textwrap {
  float:left;
  margin: 10px;
  margin-right: 35px;
}

ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}